NODE_ENV=
APP_PORT=
APP_NAME=
API_PREFIX=
APP_FALLBACK_LANGUAGE=
APP_HEADER_LANGUAGE=
FRONTEND_DOMAIN=
BACKEND_DOMAIN=

DATABASE_TYPE=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_SCHEMA=
DATABASE_SYNCHRONIZE=
DATABASE_MAX_CONNECTIONS=
DATABASE_SSL_ENABLED=
DATABASE_REJECT_UNAUTHORIZED=
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=

AUTH_JWT_SECRET=
AUTH_JWT_TOKEN_EXPIRES_IN=

SEED_ADMIN_FIRSTNAME=
SEED_ADMIN_LASTNAME=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=

GOOGLE_API_KEY=

FIREBASE_TYPE=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=
FIREBASE_TOKEN_URI=
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=
FIREBASE_CLIENT_X509_CERT_URL=
FIREBASE_UNIVERSE_DOMAIN=
FIREBASE_STORAGE_URL=
FIREBASE_STORAGE_IMAGE_BUCKET_IMAGE=
FIREBASE_STORAGE_IMAGE_BUCKET_HOMEPAGE_CARD=
FIREBASE_STORAGE_IMAGE_BUCKET_BADGE=
FIREBASE_STORAGE_IMAGE_BUCKET_ID=

