<html lang="fr">
<head>
  <title>Account Created</title>
  <style>
    .card {
      background-color: white;
      min-height: 30vh;
      color: black;
    }

    h1 {
      justify-content: center;
      color: aquamarine;
      text-align: center;
    }
  </style>
</head>
<body>
<div class="card">
  <div style="display:flex; justify-content:center">
    <h1>IzzUp</h1>
  </div>
  <div style="display:flex; justify-content:center">
    <h1>Account Created</h1>
  </div>
  <div>
    <p>Hi {{firstName}} {{lastName}},</p>
    <p>Your account has been created.</p>
    <p>Thanks</p>
  </div>
</div>
</body>
</html>
